html,
body {
  background: url("../images/bgHome.jpg") repeat-y;
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
/* limitando o tamanho maior */
@media (min-width: 1200px) {
  .container {
    width: 1130px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    max-width: 1130px;
  }
  .container .row {
    width: 1130px;
    margin: 0 auto;
    padding: 0;
    max-width: 1130px;
  }
}
/*****
GERAIS
******/
.space-25 {
  clear: both;
  display: block;
  height: 25px;
}
.space-50 {
  clear: both;
  display: block;
  height: 50px;
}
.space-75 {
  clear: both;
  display: block;
  height: 75px;
}
.space-100 {
  clear: both;
  display: block;
  height: 100px;
}
.space-150 {
  clear: both;
  display: block;
  height: 150px;
}
.space-200 {
  clear: both;
  display: block;
  height: 200px;
}
/* ref logo */
.logo {
  height: 260px;
  background: url("../images/bgHeader.jpg") no-repeat top center;
  text-align: center;
}
.logo a {
  position: relative;
  width: 412px;
  height: 175px;
  display: block;
  margin: 0 auto;
  background: url("../images/PatyPiih.png") no-repeat bottom center;
  text-indent: -999999px;
}
/* alterações bootstrap para o menu */
.navtop {
  text-transform: uppercase;
}
.navbar-default .navbar-collapse {
  position: absolute;
  margin-top: -30px;
  margin-left: 20px;
}
.navbar-default {
  border: #fff 0px solid;
  background-color: #fff;
  padding-left: 25px;
}
.navbar-nav > ul {
  margin: 0 auto;
}
.navbar-nav > li > a {
  color: #6D6E70;
  padding-bottom: 20px;
  font-size: 23px;
}
.navbar-nav > li > a:hover {
  color: #AA3795;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #fff url("../images/actived.jpg") no-repeat bottom center;
}
/*****************
Carrousel
*****************/
.mascara {
  position: relative;
  z-index: 40;
  width: 1130px;
  margin: 0 auto;
  margin-bottom: -355px;
}
#myCarousel {
  max-width: 1130px;
  margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right {
  background: #fff;
  opacity: 1;
}
.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before {
  content: "";
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 30px;
  margin-top: -10px;
  width: 70px;
  height: 74px;
}
.glyphicon-chevron-left {
  background: url("../images/left.png") no-repeat 50% 50%;
}
.glyphicon-chevron-right {
  background: url("../images/right.png") no-repeat 50% 50%;
}
.carousel {
  height: 330px;
  margin-bottom: 60px;
}
.carousel-inner {
  height: 550px;
}
.carousel .item {
  background: #2F7F7B;
  height: 330px;
}
.carousel-inner > .item > img {
  height: 330px;
  left: 154px;
  min-width: 825px;
  position: absolute;
  top: 0;
}
.carousel-control {
  width: 8%;
  z-index: 50;
}
.carousel .item .carousel-caption {
  top: 360px;
}
.carousel .item .carousel-caption h1 a {
  font-family: Lato;
  color: #E670A9;
  max-width: 590px;
  margin: 0 auto;
  font-size: 50px;
  font-style: italic;
}
.carousel .item .carousel-caption p {
  font-family: Lato;
  color: #5D5D5D;
  max-width: 590px;
  margin: 0 auto;
}
/** fade **/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/*********
Destaque
*********/
.destaque a span {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 160px;
  margin-bottom: -158px;
  background: url("../images/mascaraFoto.png") no-repeat 50% 50%;
}
.destaque h3 a {
  font-family: "Dancing Script";
  color: #00B8B7;
  font-size: 32px;
}
/*********
posthome
*********/
.posthome {
  max-width: 600px;
  padding-left: 20px;
}
.posthome .date {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  float: left;
  width: 140px;
  padding-bottom: 10px;
  background: url("../images/lineDate.png") no-repeat bottom center;
}
.posthome .date .d {
  color: #434244;
  font-size: 48px;
  float: left;
  margin-right: 5px;
}
.posthome .date .m {
  display: block;
  padding-top: 6px;
  margin-bottom: -10px;
  color: #A02087;
  font-size: 23px;
}
.posthome .date .y {
  color: #A02087;
  font-size: 20px;
}
.posthome h1 a {
  position: relative;
  font-family: "Dancing Script";
  color: #5D5D5D;
  padding-top: 5px;
  display: block;
}
.posthome h1 a:hover {
  color: #E670A9;
}
.posthome h2 a {
  position: relative;
  font-family: "Dancing Script";
  color: #5D5D5D;
  padding-top: 5px;
  display: block;
}
.posthome h2 a:hover {
  color: #E670A9;
}
.posthome h3 a {
  position: relative;
  font-family: "Dancing Script";
  font-size: 50px;
  color: #5D5D5D;
  padding-top: 5px;
  display: block;
}
.posthome .thumbnails img {
  border: 10px solid #E670A9;
  margin-top: 10px;
}
.posthome .social {
  display: block;
  text-align: right;
  margin: 10px auto 20px auto;
  width: 600px;
}
.posthome p {
  font-family: Lato;
  font-size: 19px;
  color: #6D6E70;
  width: 600px;
}
/*********
sidebar
*********/
.fb h3 {
  font-family: "Dancing Script";
  font-size: 40px;
  color: #00B8B7;
  background: url("../images/iconFb.png") no-repeat left center;
  line-height: 70px;
  padding-left: 80px;
}
.insta h3 {
  font-family: "Dancing Script";
  font-size: 40px;
  color: #E670A9;
  background: url("../images/iconInsta.png") no-repeat left center;
  line-height: 70px;
  padding-left: 80px;
}
.insta ul,
.tagline ul,
.newsletter ul,
.insta li,
.tagline li,
.newsletter li {
  list-style: none;
}
.tagline {
  min-height: 140px;
}
.tagline h3 {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  background: url("../images/bgSidebar.png") no-repeat 50% 50%;
  line-height: 42px;
  padding-left: 80px;
}
.tagline .bio a {
  font-family: Lato;
  font-size: 14px;
  color: #6D6E70;
}
.newsletter {
  margin-top: 50px;
}
.newsletter h3 {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  background: url("../images/bgSidebar.png") no-repeat 50% 50%;
  line-height: 42px;
  padding-left: 80px;
}
.newsletter input[type=submit] {
  float: right;
  position: relative;
  top: -36px;
}
/*********
footer
*********/
footer.home {
  background: url("../images/bgFooter.png") top center;
  margin-top: -50px;
}
footer.home .container {
  background: none;
  min-height: 399px;
}
ul.nav-footer {
  list-style: none;
}
.nav-footer li {
  display: block;
}
.nav-footer li a {
  color: #fff;
  font-family: Lato;
  font-size: 19px;
}
ul.nav-social {
  list-style: none;
}
.nav-social li {
  float: left;
  margin-right: 5px;
}
.nav-social .f a,
.nav-social .i a,
.nav-social .y a,
.nav-social .s a,
.nav-social .e a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-indent: -999999px;
}
.nav-social .f a {
  background: url("../images/iconFbW.png") no-repeat 50% 50%;
}
.nav-social .i a {
  background: url("../images/iconInstaW.png") no-repeat 50% 50%;
}
.nav-social .y a {
  background: url("../images/iconYoutubeW.png") no-repeat 50% 50%;
}
.nav-social .s a {
  background: url("../images/iconSnapW.png") no-repeat 50% 50%;
}
.nav-social .e a {
  background: url("../images/iconMailW.png") no-repeat 50% 50%;
}
/*********
post / single
*********/
.entry-title {
  font-size: 50px;
  margin-bottom: 10px;
}
.entry-title2 {
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.fleft {
  float: left;
}
.fright,
.alignright {
  float: right;
}
.wp-caption {
  margin: 10px;
  border: 1px solid #f6f6f6;
  max-width: 300px;
}
.alignright .wp-caption-text {
  margin: 0;
  padding: 0px;
  color: #545455;
  font-size: 12px;
  padding: 3px 5px;
}
#post .posthome p a,
.post-container .a {
  background: #e670a9;
  padding: 1px 5px;
  color: #FFF;
}
#post .posthome p a:hover,
.post-container a:hover {
  background: #AA3795;
  padding: 1px 5px;
  color: #FFF;
}
.searchsubmit {
  position: relative;
  left: -4px;
  top: 7px;
}
.label-danger a {
  color: #fff;
}
.label-default .badge {
  background-color: transparent;
  border-radius: 0px;
  padding: 0;
}
.label-default .badge a {
  color: #fff;
  font-size: 10px;
}
.badge2 a {
  position: relative;
  font-size: 15px;
  color: #ffffff;
  left: 265px;
  top: -20px;
}
.comment-reply-title {
  font-family: "Dancing Script";
  font-size: 42px;
}
